name: Test action [MANUAL]
on:
  pull_request:
    types: [opened, reopened]
jobs:
  test-action:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - run: gh pr comment "$NUMBER" --body "$BODY"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.pull_request.number }}
          BODY: >
            Make sure you test your changes by forking and playing around with
            [actions4git/add-commit-push-test](https://github.com/actions4git/add-commit-push-test)
