name: Test action [MANUAL]
on:
  push:
    branches: "main"
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
      - .github/**
      - "!.github/workflows/test-action.yml"
  pull_request:
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
      - .github/**
      - "!.github/workflows/test-action.yml"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
jobs:
  branch:
    concurrency: ${{ github.workflow }}-branch
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
      - run: npm ci
      - run: npm run build
      - shell: bash
        run: |
          shopt -s dotglob nullglob
          mv ./* ../add-commit-push
      - uses: actions/checkout@v4
        with:
          ref: test-branch
      - shell: bash
        run: echo $RANDOM > README.txt
      - uses: ./
  # pull-request:
  # pull-request-fork:
